@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&family=Raleway:wght@500&display=swap');
:root {
	--dark-purple:#11001C;
	--medium-purple:#290025;
	--purple:#35012C;
	--light-purple:#4F0147;
	--dark-bg:#08010D;
	--main-text:#E2C2F9;
	--dark-secondary:#11031B;
	--secondary-white:#CD87FF;

	--main-transition-timing:cubic-bezier(.19,.39,.59,.7);

}
body {
	background-color: var(--dark-bg);
	width: 100%;
	min-height: 100vh;
	color: var(--main-text);
	font-family: Quicksand;
}
main {
	font-weight: 300;
	text-align: center;
	font-size: 20px;
}
h1 {
	font-size: 2.5em;
	font-weight: 900;
}
.cards-container {
	margin: 0 auto;
	width: calc(100% - 50px);
	display: flex;
	flex-wrap: wrap;
	gap: 5vmin;
}
.card {
	width: min(15rem, 100%);
	aspect-ratio: 5/6;
	background-color: var(--dark-purple);
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	border-radius: 0.5rem;
	overflow: hidden;
}
.card img {
	top: 0;
	position: absolute;
	filter: grayscale(75%);
}
.card-desc {
	text-align: left;
	position: relative;
	margin-top: auto;
	background-color: var(--purple);
	padding-inline: 2vmin;
	padding-bottom: 2vmin;
	padding-top: 1vmin;
	font-size: 1.2em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.play-sound {
	cursor: pointer;
}