@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
:root {
	--dark-purple:#11001C;
	--medium-purple:#290025;
	--purple:#35012C;
	--light-purple:#4F0147;
	--dark-bg:#08010D;
	--main-text:#E2C2F9;
	--dark-secondary:#11031B;
	--secondary-white:#CD87FF;

	--main-transition-timing:cubic-bezier(.19,.39,.59,.7);

}
body {
	background-color: var(--dark-bg);
	width: 100%;
	min-height: 100vh;
	color: var(--main-text);
	font-family: Raleway;
}